.table-container{
 overflow: auto !important;  
}
 
.table {
  width: 100%;  
  background-color: var(--color-white) !important;
}


table {
  width: 100%;
  border-collapse: collapse !important;
  background: var(--color-white) !important; 
  overflow-x: auto !important; 
  /* border: 1px solid #ddd !important;  */
  transition: background-color 0.3s ease, border-color 0.3s ease !important;
}
 
.table > thead > tr > th { 
  text-align: left !important;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  border-bottom: 1px solid #E5E7EB !important;
}

.table > tbody > tr:last-child > td {
  border-bottom: none !important;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 0.60rem;
  background: #fff;
}

.table > thead > tr > th {
  font-weight: 600;
  color: #6B7280;
  background: #fff;
}
 
 
#table-loader { 
  color: var(--gray-light) !important; 
  padding-top: 5rem  ;
  padding-bottom: 5rem ;   
}
#table-loader p {
  color: var(--gray-light) !important;
}
 